$greenLight: #ECFCDC;
$greenDark: #044C44;
$greenApple: #8CBC58;
$blueLight: #F1F1FC;
$blueDark: #0A1929;

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 1280px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a1929;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@import './components/NavBar/NavSmall/navSmall';