@import './globals';
:root {
  font-family: $fontPrimary;
  font-size: 62,8%;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $blueDark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
 body {
  margin: 0;
  padding: 0;
 }
